<div id='header-remplate'>
	<section id="two" class="main style2">
		<div class="container">
			<div class="row 150%">
				<div class="6u 6u$(medium)">
					<ul class="major-icons">
						<li><span class="icon style1 major fa-code"></span></li>
						<li><span class="icon style2 major fa-bolt"></span></li>
						<li><span class="icon style3 major fa-camera-retro"></span></li>
						<li><span class="icon style4 major fa-cog"></span></li>
						<li><span class="icon style5 major fa-desktop"></span></li>
						<li><span class="icon style6 major fa-calendar"></span></li>
					</ul>
				</div>
				<div class="6u 6u$(medium)">
					<header class="major">
						<h2 tag-refName="h2_text_1" :contenteditable="`${getIsEditable}`" @keyup="saveCompProp($event)" v-html="propsData.h2_text_1"></h2>
						<br>
						<h2 tag-refName="h2_text_2" :contenteditable="`${getIsEditable}`" @keyup="saveCompProp($event)" v-html="propsData.h2_text_2"></h2>
					</header>
					<p tag-refName="p_1_text" :contenteditable="`${getIsEditable}`" @keyup="saveCompProp($event)" v-html="propsData.p_1_text"></p>
					<p tag-refName="p_2_text" :contenteditable="`${getIsEditable}`" @keyup="saveCompProp($event)" v-html="propsData.p_2_text"></p>
					<p tag-refName="p_3_text" :contenteditable="`${getIsEditable}`" @keyup="saveCompProp($event)" v-html="propsData.p_3_text"></p>
				</div>
			</div>
		</div>
	</section>
</div>