.editor {
    position:relative;
    background-color: #4b81ad;
    width: 100%;
    height: 200px;
}

p{
    color: white;
}

button {
    background: hotpink;
    position: relative;
    margin-left: 40%;
    margin: 0;  

}