 h1{
  color: white;
  font-weight: bold;
  font-size: 30px;
  font-family: arial, helvetica;
  text-align: center; 
  margin:0;
  }

  nav {
    background: black;
    padding: 1.2em;
    height: 80px;
    // position: fixed;
    // top: 0;
    // left: 0;
  }
  .nav-center {
    color: grey;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style:none;
  }


  
  