 h1{
  color: white;
  font-weight: bold;
  font-size: 30px;
  font-family: arial, helvetica;
  text-align: center; 
  margin:0;
  }

  nav {
    background: black;
    padding: 0.5em;
    height: 80px;
    padding-left: 1.2em;
  }
  .nav-center {
    padding-top: 1em;
    color: grey;
    margin: 0 auto;
    li {
      color: #e6e3e3;
      transition: all 0.8s;
      margin-right: 1em;
      font-size: 18px;
    }
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style:none;
  }

@keyframes fadeInDown {
    from {
        opacity:0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fade-down-enter-active {
    animation-name: fadeInDown;
    animation-duration: 0.5s;
}

  
  h1 {
      border: 3px dashed white;
      padding: 0.3em;
      width: 150px;
  }

  