<nav class="nav">
  <div class="flex space-between">
    <div class="nav-left">
    </div>

    <div class="nav-center">
      <router-link class="previewProdBtn small btn btn-info" :to="{name: 'prod',params: {id: getCurrSiteId}}">View on production</router-link>
      <router-link class="previewProdBtn small btn btn-info" :to="{name: 'preview',params: {id: getCurrSiteId}}">Preview Site</router-link>
      <button class="saveBtn small btn btn-success" @click="saveSite">Save</button>
    </div>

    <div class="nav-right">
      
    </div>
  </div>
</nav>