h1{
  background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 30px;
  font-family: arial, helvetica;
  text-align: center; 
}

nav {
  background: #d6e7ef;
  padding: 0.8em;
  height: 60px;
  // position: fixed;
  // top: 0;
  // left: 0;
}
.nav-center {
  color: grey;
}

a {
  text-decoration: none;
}

ul {
  list-style:none;
}
  
.saveBtn {
  color: white !important;
  background-color:#8fc38f;
  border: 1px solid white;
}

.previewProdBtn {
  color: white !important;
  border: 1px solid white;
  // font-size: 10px;
  background-color: #74aed8;
}