<nav class="nav">
  <div class="flex space-between">
    <div class="nav-left">
      <a class="nav-item is-brand" href="#">
        <h1>Edit Site</h1>
      </a>
    </div>

    <div class="nav-center">
      <!--<ul>
        <li><a href="#">Preview Site</a></li>
      </ul>-->
    </div>

    <div class="nav-right">
      <button class="small btn btn-info" @click="saveSite">Preview Site</button>
      <button class="small btn btn-success" @click="saveSite">Save</button>
    </div>
  </div>
</nav>