<nav class="nav">
  <div class="flex space-between">
    <div class="nav-left">
      <a class="nav-item is-brand" href="#">
        <h1>Page Book</h1>
      </a>
    </div>

    <div class="nav-center">
      <router-link to="/editor" tag="a" active-class="active">
          <a class="nav-item">Home</a>
      </router-link>
      <router-link to="/editor" tag="a" active-class="active">
          <a class="nav-item">About</a>
      </router-link>
      <router-link to="/editor" tag="a" active-class="active">
          <a class="nav-item">Contact</a>
      </router-link>
        <router-link to="/user-dashboard/getCurrUserID" tag="a" active-class="active">
          <a class="nav-item">Your Sites</a>
      </router-link>
    </div>
    <div class="nav-right">
      <router-link v-if="!isLoggedIn" to="/login" tag="a" active-class="active">
          <a class="nav-item">Login</a>
      </router-link>
      <!--<router-link v-else to="/editor" tag="a" active-class="active">-->
          <a v-else class="nav-item" @click="logout">Logout</a>
      <!--</router-link>-->
    </div>
  </div>
</nav>