<nav>
  <div class="nav flex space-between">
    <div class="nav-left">
      <ul class="clean-list flex space-between">
        <li>
          <router-link to="/home"><h1>SHMIX</h1></router-link>
        </li>
      </ul>
    </div>


    <div class="nav-center">
      <div class="nav-center-list-items">
        <ul class="clean-list flex">
          <li class="list-item">
            <router-link to="/home">Home</router-link>
          </li>
          <li class="list-item">
            <router-link to="/user-dashboard/getCurrUserID">My Sites</router-link>
          </li>
        <ul>
      </div>
    </div>


    <div class="nav-right">
      <ul class="clean-list">
        <li>
          <router-link v-if="!isLoggedIn" to="/login"><button class="login-logout-btn btn">Login</button></router-link>
          <router-link v-else to="/home"><button class="login-logout-btn btn" @click="logout">Logout</button></router-link>
        </li>
      </ul>
    </div>
  </div>


