h1{
  // background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
  
  background: #cce1f1;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 30px;
  font-family: arial, helvetica;
  text-align: center; 
  margin-bottom: 0;
  
}
li{
    margin-right: 0.5em;
    padding:0;
  }
nav {
  // background: #d8c16a;
  // background: #81b3d8;
  background: #598cb1;
  // background:#1477e0;
  height: 60px;
  
}

.nav {
  padding: 0.6em 1.2em;
  // padding: 1.2em;
}

.nav-center {
  width: 50%;
  padding-top: 0.2em;
}

.nav-center-list-items {
  max-width:100%;
  min-width:150px;
  display: inline-block;
}

.list-item {
  margin-right: 1em;
  color: black;
}

.login-logout-btn {
  color: white !important;
  border: 1px solid #74aed8;;
  font-size: 10px;
  background-color: #74aed8;
  margin-top: 0.4em;
}

.halfBrand {
  color:#ec398b;
}