.bold{
    font-weight: bold;
}

h1 {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 3rem;
    // color: #cebc21;
    color: white;
}

.show-login-active{
    .home-component {
        color: red;
    }
}

.startNow {
    border: 1px solid #c8c8c8 ;
    color: #c8c8c8  !important;
    margin-top: 1em;
}


