h1 {
    text-shadow: 2px 2px #142
}
.bold{
    font-weight: bold;
    margin-top: 5em;
    font-size: 3rem;
    color: #6699bc;
}

.home-component {
    text-align: center;
    position: relative;
}

.semi-colon {
    font-size: 20px;
    position: relative;
    top: 1px;
    color: #333;
}

.show-login-active{
    .home-component {
        color: red;
    }
}

.sign-up-button {
    font-size: 12px;
}

img.bg {
 /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
    
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
    
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg  {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}