
<section class="user-dashboard">
    <main-nav></main-nav>

    <ul class="sites-list">
        <li v-if="getSitesList !== undefined" v-for="site in getSitesList">
            <i class="delete fa fa-times" aria-hidden="true" @click="deleteSite(site)"></i>
            <hr> 
            <h2 ref="siteName" :contenteditable="`${getIsEditable}`" @keyup="saveCompProp($event)">{{site.siteName}}</h2>
            <router-link class="editSite small btn btn-info" :to="{name: 'editor',params: {id: site._id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>edit</router-link>
            <!--<button class="small btn btn-danger" @click="deleteSite(site)">Delete</button>-->
        </li>
        <div class="create-new-site">
            <div>
              <h2>Add Site</h2>
            <i class="addSite fa fa-plus-circle" aria-hidden="true" @click="modalIsOpen=true"></i>
            </div>
        </div>

    </ul>

    <modal v-show="modalIsOpen" effect="fade">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
              <div class="modal-header">
                <slot name="header">
                  <h3>ADD SITE</h3>
                </slot>
              </div>
              <div class="modal-body">
                <slot name="body">
                  <div class="flex space-between column-direction">
                    <div>
                      <input type="text" class="siteNameInput" v-model="siteName" placeholder="Enter site name">
                    </div>
                    <div>
                      <input type="text" v-model="siteUrl" placeholder="Enter URL">
                    </div>
                  </div>
                </slot>
              </div>
              <footer slot="modal-footer">
                <div class="row">
                  <div class="col-xs-6">
                    <button class="btn-block btn btn-default" @click="modalIsOpen = false">Cancel</button>
                  </div>
                  <div class="col-xs-6">
                    <button class="btn-block btn btn-info " @click="newSite">Add</button>
                  </div>
                </div>
              </footer>
            </div>
          </div>
        </div>
      </transition>
    </modal>
</section>