<div>
    <section class="user-dashboard">
        <main-nav></main-nav>
        <h1>User Dashboard</h1>
        <ul class="sites-list">
            <li v-for="site in sites"> 
                <h2 ref="siteName" :contenteditable="`${getIsEditable}`" @keyup="saveCompProp($event)">{{site.siteName}}</h2>
                <router-link class="small btn btn-info" :to="{name: 'editor',params: {id: site._id}}">edit</router-link>
            </li>
            <div class="create-new-site">
                <h2>New Site</h2>
                <router-link class="small btn btn-info" :to="{name: 'newSite'}">New Site</router-link>
            </div>
        </ul>
    </section>
</div>