.comp-list {
    border: 1px solid black;
    background-color: pink;
    width: 80%;
    height: 500px;
    padding-top: 8em;
}

p {
    color: white;
}

.addButton {
    border: 1px solid black;
    width: 200px;
    height: 20px;
    background-color: green;
}