<div>
  <section id="three" class="main style1 special">
				<div class="container">
					<header class="major">
						<h2 tag-refName="h2_text" :contenteditable="`${getIsEditable}`" @keyup="saveCompProp($event)" v-html="propsData.h2_text"></h2>
					</header>
					<p tag-refName="p_text" :contenteditable="`${getIsEditable}`" @keyup="saveCompProp($event)" v-html="propsData.p_text"></p>
					<div class="row 150%">
						<div class="4u 12u$(medium)">
							<div class="uploadImage">
								<div class="hovereffect">
									<!--<img :src="uploadedImg" />-->

									<span class="image fit"><img :src="(uploadedImg1 ? uploadedImg1 : '/'+propsData.card_1_img_src)" alt=""></span>
									<div class="overlay">
										<input type="file" @change="onFileChange" id="upload" name="upload"  style="visibility: hidden; width: 1px; height: 1px" multiple/>
										<a class="info" href="" onclick="document.getElementById('upload').click(); return false">Change Image</a>
									</div>
								</div>
							</div>
							<h3 tag-refName="card_1_h3_text" :contenteditable="`${getIsEditable}`" @keyup="saveCompProp($event)" v-html="propsData.card_1_h3_text"></h3>
							<p tag-refName="card_1_p_text" :contenteditable="`${getIsEditable}`" @keyup="saveCompProp($event)" v-html="propsData.card_1_p_text"></p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
						<div class="4u 12u$(medium)">
							<div class="uploadImage">
								<div class="hovereffect">
									<span class="image fit"><img :src="(uploadedImg2 ? uploadedImg2 : '/'+propsData.card_2_img_src)" alt=""></span>
									<div class="overlay">
										<input type="file" id="upload" name="upload" style="visibility: hidden; width: 1px; height: 1px" multiple/>
										<a class="info" @change="onFileChange" href="" onclick="document.getElementById('upload').click(); return false">Upload Image</a>
									</div>
								</div>
							</div>
							<h3 tag-refName="card_2_h3_text" :contenteditable="`${getIsEditable}`" @keyup="saveCompProp($event)" v-html="propsData.card_2_h3_text"></h3>
							<p tag-refName="card_2_p_text" :contenteditable="`${getIsEditable}`" @keyup="saveCompProp($event)" v-html="propsData.card_2_p_text"></p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
						<div class="4u 12u$(medium)">
							<div class="uploadImage">
								<div class="hovereffect">
									<span class="image fit"><img :src="(uploadedImg3 ? uploadedImg3 : '/'+propsData.card_3_img_src)" alt=""></span>
									<div class="overlay">
										<input type="file" id="upload" name="upload" @change="onFileChange" style="visibility: hidden; width: 1px; height: 1px" multiple/>
										<a class="info" href="" onclick="document.getElementById('upload').click(); return false">Upload Image</a>
									</div>
								</div>
							</div>
							<h3 tag-refName="card_3_h3_text" :contenteditable="`${getIsEditable}`" @keyup="saveCompProp($event)" v-html="propsData.card_3_h3_text"></h3>
							<p tag-refName="card_3_p_text" :contenteditable="`${getIsEditable}`" @keyup="saveCompProp($event)" v-html="propsData.card_3_p_text"></p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
					</div>
				</div>
  </section>
</div>
