<div>
  <section id="three" class="main style1 special">
				<div class="container">
					<header class="major">
						<h2>{{h2_text}}</h2>
					</header>
					<p>{{p_text}}</p>
					<div class="row 150%">
						<div class="4u 12u$(medium)">
							<span class="image fit"><img :src="card_1_img_src" alt=""></span>
							<h3>{{card_1_h3_text}}</h3>
							<p>{{card_1_p_text}}</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
						<div class="4u 12u$(medium)">
							<span class="image fit"><img :src="card_2_img_src" alt=""></span>
							<h3>{{card_1_h3_text}}</h3>
							<p>{{card_2_p_text}}</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
						<div class="4u$ 12u$(medium)">
							<span class="image fit"><img :src="card_3_img_src" alt=""></span>
							<h3>{{card_1_h3_text}}</h3>
							<p>{{card_2_p_text}}</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
</div>