<section class="login">
    <div>
        <ul class="header clean-list flex space-between">
            <li>
                <router-link to="/home">
                    <h1>SHMIX</h1>
                </router-link>
            </li>
        </ul>
    </div>
    <div class="main-wrapper">
        <template v-if="isToLogin">
            <!--<div class="login-logout">-->
                <h2>Log In</h2>
                <input type="text" v-model="username" placeholder="username" @keyup.enter="login">
                <input type="password" v-model="password" placeholder="password" @keyup.enter="login">
                <button class="loginBtn btn" @click="login">login</button>
                <div class="signup-suggest">
                    <p class="para">New to SHMIX? <a href="" @click.prevent="isToLogin = false"><span class="signup">Sign Up</span></a> </p>            
                </div>
            <!--</div>-->
        </template>
        <template v-else>
            <!--<div class="login-logout">-->
                <h2>Sign Up</h2>
                <input type="text" v-model="username" placeholder="username" @keyup.enter="signup">
                <input type="password" v-model="password" placeholder="password" @keyup.enter="signup">
                <button class="loginBtn btn" @click="signup">Sign up</button>
                <div class="signup-suggest">
                    <p class="para">Already have a SHMIX account? <a href="" @click.prevent="isToLogin = true"><span class="signup">Login</span></a></p>            
                </div>
            <!--</div>-->
        </template>
    </div>
</section>
