.login-component{
    width: 300px;
    margin: 20px auto;
    input {
        width: 300px;
        margin-bottom: 20px;
    }
    text-align: center;

    .signup-suggest {
        margin-top: 30px

        
    }

    .para {
        margin: 5px 0;
    }
}

