<div class="meme-label-top">
    <div class="editor-tools flex">
        <!--<input class="meme-label-top-txt" oninput="changeLabel(this,'0')" type="text" placeholder="Insert top text..."></input>-->
        <!--<button class="delete-top-text fa fa-trash-o" aria-hidden="true" onclick="clearInput('0')"></button>-->
        <button class="increase-font-size" aria-hidden="true" @click="increaseFontSize">
            <span class="fa fa-plus" aria-hidden="true"></span>
        </button>
        <button class="decrease-font-size" aria-hidden="true" onclick="decreaseFontSize('0')">
            <span class="fa fa-minus" aria-hidden="true"></span>
        </button>
        <input type="color" class="font-color" id="inputColor1" onchange="changeFontColor(this, '0')" value="#ffffff"></input>
        <button class="font-shadow" aria-hidden="true" onclick="toggleFontShadow('0')">
            <span class="fa fa-buysellads" aria-hidden="true"></span>
        </button>
        <button class="font-align-left" aria-hidden="true" onclick="alignFontLeft('0')">
            <span class="fa fa-align-left" aria-hidden="true"></span>
        </button>
        <button class="font-align-center" aria-hidden="true" onclick="alignFontCenter('0')">
            <span class="fa fa-align-center" aria-hidden="true"></span>
        </button>
        <button class="font-align-right" aria-hidden="true" onclick="alignFontRight('0')">
            <span class="fa fa-align-right" aria-hidden="true"></span>
        </button>
        
    </div>
</div>