/*----------  Containers  ----------*/

.container {
  width: var(--container-width);
  margin: 0 auto;
  padding: 5em 0;
}

.inner-container {
  width: var(--inner-container-width);
}

section {
    text-align: center;
    position: relative;
}

@media (max-width: #{$container-width - 10}) {
  .container,
  .inner-container {
    max-width: 98%;
  }
}

/* Breakpoint mixins */

@mixin for-mobile-only {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}